*{
    font-family: Arial, sans-serif;
}

.layout-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout-links{
    background-color: #3F9CC9;
    height: 100px;
}

.layout-links .container .row .col{
    margin-top: 25px;
    border: solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    border-color: white;
    margin-left: 5%;
}

.layout-links .col a{
    text-decoration: none;
    color: white;
}

.layout-conhecimentos{
    padding-top: 40px;
}

.layout-conhecimentos .col{
    color: #235685;
}

.layout-conhecimentos .col h2{
    font-size: 40px;
}

.layout-servicos-prestados{
    margin: 50px;
    text-align: center;
}

.titulo__servicos{
    color: #235685;
    font-size: 24px;
}

.quadrado__servicos{
    background-color: #3F9CC9;
    width: 253px;
    height: 253px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
}

.quadrado__servicos i{
    font-size: 144px;
}

.layout-rodape{
    background-color: #3F9CC9;
    height: 300px;
    display: flex;
    align-items: center;
    color: white;
}

.layout-rodape img{
    width: 120px;
}

.imagem__logo{
    display: flex;
    margin-top: 10%;
}
.layout-rodape h3{
    font-size: 27px;
}

.layout-rodape li{
    font-size: 18px;
}

.layout-rodape i{
    font-size: 32px;
    padding: 15px;
}