.layout__logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout__links{
    background-color: #3F9CC9;
    height: 100px;
}

.layout__links .container .row .col{
    margin-top: 25px;
    border: solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    border-color: white;
    margin-left: 5%;
}

.layout__links .col a{
    text-decoration: none;
    color: white;
}

.layout__conhecimentos{
    padding-top: 40px;
}

.layout__conhecimentos .col{
    color: #235685;
}

.layout__conhecimentos .col h2{
    font-size: 40px;
}

